In [1]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('Crimes_Dataset.csv')
df.info()
print(df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Index_Crimes           10000 non-null  int64
 1   Date                   10000 non-null  object
 2   Monster involved       10000 non-null  object
 3   Days of Investigation  10000 non-null  float64
 4   Region                 9998 non-null   object
 5   Crime Type             10000 non-null  object
 6   Crime Weapon           7403 non-null   object
 7   Time of Day            10000 non-null  object
 8   Evidence Found         9995 non-null   object
dtypes: float64(1), int64(1), object(7)
memory usage: 703.3+ KB
Index_Crimes                0
Date                        0
Monster involved            0
Days of Investigation       0
Region                      2
Crime Type                  0
Crime Weapon             2597
Time of Day                 0
Evidence Found              5
dtype: int64

In [ ]:
# make everything lower case

def lowercase(df):
    object_cols = df.select_dtypes(include='object').columns 
    for attribute in object_cols:
        df[attribute] = df[attribute].str.lower()
    
    return df

lowercase(df)

,Index_Crimes,Date,Monster involved,Days of Investigation,Region,Crime Type,Crime Weapon,Time of Day,Evidence Found
0,6316,2020-02-18,skeleton,77.0,mountain,nightly disturbance,unknown,night,bones
1,4731,2022-09-01,werewolf,48.0,forest,assault,pistol,night,teeth
2,1750,2022-08-03,ghost,31.0,castle,nightly disturbance,unknown,night,potions
3,4789,2023-10-18,witch,29.0,swamp,arson,pistol,dawn,potions
4,4567,2021-03-25,ghost,59.0,village,nightly disturbance,pistol,night,potions
...,...,...,...,...,...,...,...,...,...
9995,5794,2024-10-30,witch,84.0,village,arson,knife,dusk,potions
9996,5243,2020-02-28,skeleton,41.0,mountain,vandalism,brute force,day,bones
9997,5446,2024-07-23,werewolf,71.0,mountain,assault,knife,dusk,bones
9998,869,2022-03-06,werewolf,55.0,forest,assault,knife,day,bones
9999,7341,2024-05-02,skeleton,41.0,mountain,assault,knife,dusk,bones

In [ ]:
# change NaN to 'unknown'

def replaceNaN(df):
    df['Region'].fillna('unknown')
    df['Crime Weapon'].fillna('unknown')
    df['Crime Weapon'].replace('n/a', 'unknown')
    df['Evidence Found'].fillna('not found')

    return df

replaceNaN(df)

,Index_Crimes,Date,Monster involved,Days of Investigation,Region,Crime Type,Crime Weapon,Time of Day,Evidence Found
0,6316,2020-02-18,skeleton,77.0,mountain,nightly disturbance,unknown,night,bones
1,4731,2022-09-01,werewolf,48.0,forest,assault,pistol,night,teeth
2,1750,2022-08-03,ghost,31.0,castle,nightly disturbance,unknown,night,potions
3,4789,2023-10-18,witch,29.0,swamp,arson,pistol,dawn,potions
4,4567,2021-03-25,ghost,59.0,village,nightly disturbance,pistol,night,potions
...,...,...,...,...,...,...,...,...,...
9995,5794,2024-10-30,witch,84.0,village,arson,knife,dusk,potions
9996,5243,2020-02-28,skeleton,41.0,mountain,vandalism,brute force,day,bones
9997,5446,2024-07-23,werewolf,71.0,mountain,assault,knife,dusk,bones
9998,869,2022-03-06,werewolf,55.0,forest,assault,knife,day,bones
9999,7341,2024-05-02,skeleton,41.0,mountain,assault,knife,dusk,bones

In [23]:
print(df.isnull().sum())

Index_Crimes             0
Date                     0
Monster involved         0
Days of Investigation    0
Region                   0
Crime Type               0
Crime Weapon             0
Time of Day              0
Evidence Found           0
dtype: int64